
.card-trip {
	width: 250px;
	min-width: 250px;
	min-height: 200px;
	margin: 5px;
	margin-top: 10px;

}

.week {
	overflow-x: scroll;
	white-space: nowrap;
	width: 100%;
	min-width: 250px;
	height: 100vh;
	position: fixed;
}

.daycontainer{
	margin: 2px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	display: inline-block;
	width: 270px;
	height: 85vh;
	overflow-y: scroll;
	position-y:fixed;
}

.simple-calendar{
	height: 100vh;
}
