.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.three-cards {
  display: flex;
  margin-top: 16px;
  width: 100%;
  height: 300px;
  justify-content: space-evenly;
}

.card-home {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 30px;
  width: 260px;
  text-align: center;
}

.card-title {
  background-color: $primary;
  text-align: center;
  border-radius: 30px 30px 0 0;
  padding: 16px;
}

.title {
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 3ex;


}
