@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.profile{
  height: 100%;
  padding: 1px;
  font-size: 15px;
  position: sticky;
  top: 60px;
  z-index: 1020;
}

.table-icon{
  font-size: 15px;
}

#parent-table{
  background-color: #0C0A3E;
  color: white;
}

.user-show{
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}

#perfil-pic{
  border-radius: 50%;
  width: 70%;
  height: auto;
  padding: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info{
  padding: 6px 30px;
}

.card-product {
  overflow: hidden;
  border-radius: 8px;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  &:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}