@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.profile{
  text-align: center;
  height: 100%;
  padding: 1px;
  font-size: 15px;
  position: sticky;
  top: 60px;
  z-index: 1020;
}

.table-icon{
  font-size: 15px;
}

#parent-table{
  background-color: #0C0A3E;
  color: white;
}

.user-show{
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}