.big-card{
  height: 90vh;
  .card-trip{
    width: 100%;
    height: 100%;
    .card-image{
      height: 90%;

    }
  }
  .fa-grin-hearts {
    font-size: 100px;
  }
}

.show-image{
  height: 70vh;
  width: 100%;
  object-fit: cover;
}
