.big-card{
  height: 90vh;
  .card-trip{
    width: 100%;
    height: 100%;
    .card-image{
      height: 90%;
    }
  }
  
  .card-trip-infos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    // margin: 40px;
  }
  
  .fa-sad-cry {
    color: #e70a0a;
    font-size: 90px;
  }
  .fa-frown-open {
    color: hsl(59, 94%, 36%);
    font-size: 90px;
  
  
  }
  .fa-laugh-squint {
    color: #ff9f1c;
    font-size: 90px;
  
  }
  
  .fa-grin-hearts {
    color: #368a1c;
    font-size: 90px;
  }
}

.show-image{
  height: 70vh;
  width: 100%;
  object-fit: cover;
}