<div class="container mt-3">
  <div class="row dashboard">
    <div class="col-8">
      <div class="summary">
        <div class="link-container d-flex justify-content-between button-container">
          <div class="summary-cal links">
            <div class="weather" style="height: 200px; width: 200px;">
            <!--Weather API here-->
            
              <div id="weather-api" style="height: 200px; width: 200px;"></div>
            </div>
          </div>
          <div class="summary-cal links">  
            <div class="div-calendar" style="padding: 20px 15%;">
              <!--Calendar API here-->
              <p class="this-month">March</p>
              <p class="current-day"><%= DateTime.now.day %></p>
            </div>
          </div>
        </div>
        <div class="link-container d-flex justify-content-between button-container">
          <div class="links" style="width: 100%;">
            <div class="position-relative">
              <div class="summary-cal">
                <i class="fas fa-calendar-alt dashboard-btn"></i>
              </div>
              <%= link_to '', items_path, class: "itemlink" %>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="daycontainer">
        <% recents = @items.sort_by {|item| item.updated_at}.reverse %>
        <% recents[0..3].each do |item| %>
          <%= render 'shared/dashboardcard', review: @review, item: item %>
        <% end %>
      </div>
    </div>
  </div>
</div>
