<div class="container">
  <div class="row dashboard">
    <div class="col-6 profile mt-3">
      <img src="<%=@user.url%>" style="border-radius: 50%;height: 300px;">
      <p><b>Username:</b> <%=@user.username%></p>
      <p><b>Email:</b> <%=@user.email%></p>
      <p><b>Member since:</b> <%=@user.created_at%></p>
      <button type="button" class="btn btn-outline-danger">Log out</button>
    </div>
    <div class="col-6 info mt-3">
      <button type="button" class="btn btn-primary">Create a task</button>
    </div>
</div>