<div class="container">
  <p>Hi <%=@user.username%>!</p>
  <div class="row dashboard">
    <div class="col-8">
      <img src="<%=@user.url%>" style="border-radius: 50%;height: 300px;">
    </div>
    <div class="col-4"></div>
</div>