<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <span class="emogies">
      <i class="fa fa-sad-cry"></i>
      <i class="fa fa-frown-open"></i>
      <i class="fa fa-laugh-squint"></i>
      <i class="fa fa-grin-hearts"></i>
    </span>
  </div>
</div>
