<div class="navigationbar">
  <div class="icons">
    <%= link_to :back, class: "home-btn" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <%= link_to root_path, class: "home-btn" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <div class="d-flex">
      <i class="fas fa-user pb-2 mr-3"></i>
      <i class="fas fa-microphone-alt pb-2"></i>
    </div>
  </div>
</div>