<div class="navigationbar">
  <div class="icons">
    <%= link_to :back, class: "home-btn" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <%= link_to root_path, class: "home-btn" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <div class="d-flex">
      <%= link_to users_show_path, class: "home-btn" do %>
        <i class="fas fa-user mr-3"></i>
      <%end%>
      <i class="fas fa-microphone-alt"></i>
    </div>
  </div>
</div>