<div class="navigationbar">
  <div class="icons">
    <%= link_to root_path, class: "home-btn" do %>
      <i class="fas fa-bars"></i>
    <% end %>
    <i class="fas fa-microphone-alt pb-2"></i>
  </div>
</div>