<div class="container mt-3">
  <div class="row dashboard">
    <div class="col-8">
      <div class="summary">
        <div class="container d-flex justify-content-around info-api" style="padding: 16px;">
          <div class="weather">
          <!--Weather API here-->
          <%= image_tag 'cloudy.png', height: 175, width: 175 %>
          </div>
          <div class="day-of-week">
          <!--Calendar API here-->
          <%= image_tag 'calendar.png', height: 175, width: 175 %>
          </div>
        </div>
        <!--<%= render 'shared/card' %>
        <%= render 'shared/card' %>-->
      </div>
    </div>
    <div class="col-4">
      <div class="summary">
        <h2>To do</h2>
      </div>
    </div>
  </div>
</div>
