<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="row justify-content-between pl-3">
  <div class="col-12 col-lg-7">
    <h2 class="my-3"></h2>
    <div class="cards">
      <% if @items.any? %>
        <%@items.each do |item|%>
          <%= render 'shared/card', item: item %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-5 mt-3">
  </div>
</div>
