<div class="container mt-3">
  <div class="row dashboard">
    <div class="col-8">
      <div class="summary">
        <div class="container d-flex justify-content-around info-api" style="padding: 16px;">
          <div class="weather">
            <!--Weather API here-->
            <%= image_tag 'cloudy.png', height: 175, width: 175 %>
          </div>
          <div class="day-of-week">
            <!--Calendar API here-->
            <p class="date-day">4</p>
          </div>
        </div>
        <div class="item-summary">
        <% @items.each do |item| %>
          <%= render 'shared/card', review: @review, item: item %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <%= link_to items_path do %>
        <div class="summary-cal">
          <h2>To do 1</h2>
        </div>
      <%end%>
      <div class="summary-cal mt-3">
        <h2>To do 2</h2>
      </div>
    </div>
  </div>
</div>
