<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/hLvQ4-QEBAE);">
  <div class="container">
    <h1>Simple, wearable calendar and task tool <strong>can be a digital replacement for paper-based schedules </strong> !</h1>
    <p>Make it easier for your child to interact with the world.</p>
    <%# <a class="btn btn-flat" href="#">Sign Up</a> %>
  </div>
  <div class="three-cards d-flex">
    <div class="card-home">
      <div class="card-title">
        <p class = "title">What is Autism</p>
      </div>
      <p><b>There is no one type of autism, but many</b></p>
    </div>
    <div class="card-home">
      <div class="card-title">
        <p class = "title">Learn the signs</p>
      </div>
      <p><b>PPPPPPPPPPPPPP</b></p>
    </div>
    <div class="card-home">
      <div class="card-title">
        <p class = "title">Stories</p>
      </div>
      <p><b>PPPPPPPPPPP</b></p>
    </div>
  </div>
</div>
