<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1603354350317-6f7aaa5911c5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Simple calendar and task tool <strong>is a great digital replacement for paper-based schedules </strong> !</h1>
    <p>Make it easier for your child to interact with the world.</p>
    <%# <a class="btn btn-flat" href="#">Sign Up</a> %>
  </div>
  <div class="container-card">
    <div class="three-cards d-flex">
      <div class="card-home">
        <div class="card-main-title ">
          <p class = "title">What is Autism</p>
        </div>
        <img src="https://images.unsplash.com/photo-1544780631-d7cc800ef62d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1488&q=80" alt="">
        <%# <p><b>There is no one type of autism, but many</b></p> %>
      </div>
      <div class="card-home">
        <div class="card-main-title ">
          <p class = "title">Learn the signs</p>
        </div>
        <img src="https://images.unsplash.com/photo-1453749024858-4bca89bd9edc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1007&q=80" alt="">
        <%# <p><b>PPPPPPPPPPPPPP</b></p> %>
      </div>
      <div class="card-home">
        <div class="card-main-title ">
          <p class = "title">Stories</p>
        </div>
        <img src="https://images.unsplash.com/photo-1568585219057-9206080e6c74?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        <%# <p><b>PPPPPPPPPPP</b></p> %>
      </div>
    </div>
  </div>
</div>
