<!--Second NavBar-->
<div class="second-nav d-flex d-flex justify-content-between">
  <%= image_tag 'logo_no_text.png' %>
  <div class="d-flex justify-content-around"> 
    <p class="navlinks">Home</p>
    <p class="navlinks">About Us</p>
    <p class="navlinks">Contact Us</p>
  </div>
</div>
<!--Banner-->
<div class="banner d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1603354350317-6f7aaa5911c5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div>
    <div class="container">
      <div class="headers d-flex">
        <div class="text">
          <h1 class="giant">PLAN IT</h1>
          <h1 class="giant">SHARE IT</h1>
          <h1 class="giant">ENJOY IT</h1>
          <h2>Simple calendar and task tool <strong>is a great digital replacement for paper-based schedules </strong> !</h2>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-warning ml-3", style: 'color: white;' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Cards-->
<div class="container-card">
  <div class="three-cards d-flex">
    <div class="card-home">
      <img src="https://images.unsplash.com/photo-1544780631-d7cc800ef62d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1488&q=80" alt="">
      <div class="card-main-title ">
        <p class = "title-card">Learn through touch and voice</p>
      </div><%# <p><b>There is no one type of autism, but many</b></p> %>
      </div>
        <div class="card-home">
          <img src="https://images.unsplash.com/photo-1526662092594-e98c1e356d6a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80" alt="">
          <div class="card-main-title ">
            <p class = "title-card">Help your child understand</p>
          </div>
          <%# <p><b>PPPPPPPPPPPPPP</b></p> %>
        </div>
      <div class="card-home">
        <img src="https://images.unsplash.com/photo-1568585219057-9206080e6c74?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        <div class="card-main-title ">
          <p class = "title-card">Hear what your child has to say</p>
        </div>
            <%# <p><b>PPPPPPPPPPP</b></p> %>
      </div>
  </div>
</div>
<!--Second large pic-->
<div class="banner d-flex justify-content-end align-items-center " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526662092594-e98c1e356d6a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80);">
  <div class="text2 text-right">
    <h1 class="giant">PLAN IT</h1>
    <h1 class="giant">SHARE IT</h1>
    <h1 class="giant">ENJOY IT</h1>
  </div>
</div>
<!--Footer-->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright © AVC 2021
  </div>
</div>

