.banner {
  background-size: cover;
  background-position: center;
  padding: 30px 30px 0px 30px;
  height: 70vh;
}

.banner h1 {
  margin: 1;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 60px;
  font-weight: bold;
}

.banner h2 {
  margin: 1;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  font-weight: bold;
}

.banner p {
  font-size: 21px;
  color: white;
  // opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
