.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}


.card-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.itemlink {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-trip span {
  text-align: center;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.emogies {
  display: flex;
  justify-content: center;
}

.emogies::before {
  font-size: 50px;
}
.card-trip .card-trip-infos {
  padding: 16px;
  padding-top: 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.fa-sad-cry {
  color: #e70a0a;
  padding-top: 3px;
  font-size: 24px;


}
.fa-frown-open {
  color: hsl(59, 94%, 36%);
  padding-top: 3px;
  font-size: 24px;


}
.fa-laugh-squint {
  color: #ff9f1c;
  padding-top: 3px;
  font-size: 24px;

}

.fa-grin-hearts {
  color: #368a1c;
  padding-top: 3px;
  font-size: 24px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
