.navigationbar{
  justify-content: space-between;
  background: #0C0A3E;
  width: 100%;
  height: 88px;
}

.icons{
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 68px;
  padding: 0px 16px;
}

.home-btn{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  color: white;
  &:hover{
    color: white;
  }
}