.navigationbar{
  justify-content: space-between;
  background: #0C0A3E;
  width: 100%;
  height: 88px;
}

.icons{
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 68px;
  padding: 10px;
}